<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!-- Binding the formGroup to our declared from, connects the form we created in TypeScript to our HTML form -->
      <form
        [formGroup]="signupForm"
        (ngSubmit)="onSubmit()">
        <div
          formGroupName="userData">
            <div class="form-group">
                <!-- Update to use path instead of control name, see nested control on TypeScript -->
                <!-- <app-required-field [formField]="signupForm.get('userData.username')">/</app-required-field> -->
                <label for="username"
                  appRequiredField>Username</label>
                <!-- We also need to tell Angular which of our TypeScript form controls map to our HTML controls via formControlName -->
                <input
                  type="text"
                  id="username"
                  formControlName="username"
                  class="form-control">
                <!-- Here we access the controls via the signupForm.get method -->
                <span
                  class="help-block error"
                  *ngIf="!signupForm.get('userData.username').valid && signupForm.get('userData.username').touched">
                  <span *ngIf="signupForm.get('userData.username').errors['nameIsForbidden']">
                    Username is invalid.
                  </span>
                  <span *ngIf="signupForm.get('userData.username').errors['required']">
                    Username is required.
                  </span>
                </span>
              </div>
              <div class="form-group">
                <label for="email"
                  appRequiredField>email</label>
                <input
                  type="text"
                  id="email"
                  formControlName="email"
                  class="form-control">
                <span
                  class="help-block error"
                  *ngIf="!signupForm.get('userData.email').valid && signupForm.get('userData.email').touched">
                  <!-- Adding has error to check for the existance to error. -->
                  <span *ngIf="signupForm.get('userData.email').hasError('emailIsForbidden') && signupForm.get('userData.email').errors['emailIsForbidden']">
                    Email is forbidden.
                  </span>
                  <!-- Adding has error to check for the existance to error. -->
                  <span *ngIf="signupForm.get('userData.email').hasError('email') && signupForm.get('userData.email').errors['email']">
                    email is invalid.
                  </span>
                  <!-- Adding has error to check for the existance to error. -->
                  <span *ngIf="signupForm.get('userData.email').hasError('required') && signupForm.get('userData.email').errors['required']">
                    email is required.
                  </span>
                </span>
              </div>
        </div>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input
              type="radio"
              formControlName="gender"
              [value]="gender">{{ gender }}
          </label>
        </div>
        <!-- Specify that this div maps to our hobbie form array -->
        <div
          formArrayName="hobbies">
          <h4>Your Hobbies</h4>
          <button
            class="btn btn-default"
            type="button"
            (click)="onAddHobby()">
            Add Hobby</button>
          <br><br>
          <div class="form-group"
            *ngFor="let hobbieControl of signupForm.get('hobbies').controls; let i = index">
            <!-- specify the formControlName in this case we use propery binding to bind the index, which will be the formControlName -->
            <input type="text" class="form-control" [formControlName]="i">
          </div>
        </div>
        <button
          class="btn btn-primary"
          type="submit">
            Submit</button>
      </form>
    </div>
  </div>
</div>
