.container {
  margin-top: 30px;
}
.error {
  font-weight: bold;
  font-style: italic;
  color: red;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

#requiredField  {
  font-weight: bold !important;
  color: red !important;
}

label.required:before { content: "* "; color: red; }
